
@media (max-width: 500px) {

  .navbar {
    width: 100vw;
  }

  .pop-out-exit {
    background: none;
    left: 0;
  }

  .pop-out-window {
    margin-left: 0;
  }

  .session-form-window {
    margin: 0;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
  }
}

@media (max-width: 830px) {
  .search-item {
    flex-direction: column;
  }

  .follow-button, .following-button {
    margin: 10px 0;
  }
}
