.navbar-container {
  flex-shrink: 0;
  width: 260px;
  background: lightgrey;
  padding-top: 20px;
  overflow-y: auto;
  height: 100vh;
}

.sample-nav-container {
  height: 300px;
  margin: 20px;
  background: lightblue;
}
