/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */


  // CSS Reset
  @import "./base/reset.scss";

  // Core
  @import "./base/colors.scss";
  @import "./base/buttons.scss";
  @import "./base/body.scss";

  // Components
  @import "./components/main/discover.scss";
  @import "./components/main/feeds.scss";
  @import "./components/main/landing.scss";
  @import "./components/main/loading.scss";
  @import "./components/main/main.scss";
  @import "./components/main/session-form.scss";
  @import "./components/main/stories-show.scss";
  @import "./components/main/stories.scss";
  @import "./components/navbar.scss";
  @import "./components/popout.scss";
  @import "./components/session-bar.scss";
  @import "./components/session-bar.scss";
  @import "./mobile/mobile.scss";

  .hidden {
    display: none;
  }

  // source: https://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting-using-css
  .noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
  }
