.landing {
  background: #F2F2F2;
  padding: 40px 50px 50px 50px;
  width: 100%;
  height: calc(100vh + 100px);
  display: flex;
  justify-content: center;
}

.demo-user {
  background: $blue;
}

.demo-user:hover {
  background: $hover-blue;
}

.landing-image-container {
  border: 1px solid white;
  max-width: 800px;
  box-shadow:5px 5px 5px #999;
}

.landing {
  padding: 40px 50px 150px 50px;
  width: 100%;
}

.background-grey {
  background: #F2F2F2;
}

.background-white {
  background: white;
}

.info-box .contents {
  margin: 0 auto;
  max-width: 750px;
}
