.app-wrapper {
  display: flex;
  align-content: center;
  height: auto !important;
  min-height: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.main-page {
  margin: 0 auto;
  width: 100%;
}

.main-content {
  display: flex;
  overflow-y: auto;
  height: calc(100vh - 60px);
  padding: 0 30px;
  padding-top: 40px;
  box-sizing: border-box;
}
