.session-modal-screen {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background: $modal-screen;
}

.session-form-window {
  margin: 0 auto;
  position: absolute;
  top: 100px;
  left: 50%;
  margin-left: -220px;
  width: 400px;
  background: #fff;
  z-index: 3;
  border-radius: 0px;
  border: 0px solid #000;
  min-height: 500px;
}

.session-form-window h3 {
  
}

.session-form-container {
  padding: 20px;
  border-radius: inherit;
  text-align: center;
}

.session-form {
  width: 300px;
  margin: 0 auto;
}

.session-modal-header {
  display: flex;
  justify-content: flex-end;
  height: 40px;
  background: #9f9f9f;
  width: 100%;
}

.session-form-exit-button {
  align-self: center;
  color: #8f8f8f;
  background: none;
}

.session-form-exit-button:hover {
  color: #6f6f6f;
}

.session-form button {
  margin-left: 0px;
  width: 100%;
  box-sizing: border-box;
}

.session-form input {
  text-align: left;
  width: 100%;
  display: inline-block;
  background: #F2F2F2;
  border: 0px;
  border-left: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
  border-top: 1px solid lightgrey;
  padding: 10px;
  margin: 0px 0px 0px 0px;
  box-sizing: border-box;
}

.new-user-details {
  margin-top: 10px;
}

.session-form input:last-of-type {
  border-bottom: 1px solid lightgrey;
}

.session-form input:focus {
  border: 1px solid black;
}

.session-form-container a {
  display: inline-block;
  text-decoration: underline;
  color: #9f9f9f;
}

.session-form-container a:hover {
  color: #8f8f8f;
}

.session-errors {
  height: 100px;
  color: red;
}
