.feeds-index {
  height: 100%;
  padding-top: 40px;
  padding-left: 30px;
  padding-right: 30px;
  background: lightgrey;
}

.add-feed-form {
  width: 100%;
}

.add-feed-form input {
  padding: 5px;
  margin: 0 auto;
  width: 80%;
  border: 1px solid lightgrey;
  border-radius: 5px;
}

.add-feed-form input:focus {
  border: 1px solid #2BB14C;
}

.add-feed-form button {

}

.feeds-table {
  width: 100%;
}

.feeds-table {
  border: 1px solid black;
}

.feeds-table img {
  display: inline-block;
  width: 30px;
  height: 30px;
  padding: 5px;
}

.feed-rename {
  display: inline-block;
}

.feed-rename input {
  display: inline-block;
  max-width: 100%;
}

.feed-rename button {
  display: inline-block;
  padding: 3px;
  font-size: 12px;
}

.feeds-table input {
  width: 50%
}

.feed-source-header {
  min-width: 400px;
  max-width: 80%;
}

.feed-status-header {
  width: 20px;
}

.feed-status-text {
  color: #2BB14C;
}

.feed-modify-cell {
  text-align: center;
  min-width: 150px;
}

.feed-rename-button {
  font-size: 8px;
}

.feed-delete-button {
  font-size: 8px;
}
