.feeds-index {
  height: 100%;
  padding-top: 40px;
  padding-left: 30px;
  padding-right: 30px;
}

.add-feed-form {
  width: 100%;
}

.add-feed-input-container {
  position: relative;
  vertical-align: middle;
}

.feed-header-row {
  text-align: left;
  color: lightgrey;
}

.add-feed-input-container i {
  position: absolute;
  bottom:22px;
  left:18px;
  width:10px;
  height:10px;
  color: lightgrey;
}

.add-feed-form input {
  display: inline-block;
  padding: 5px;
  padding-left: 40px;
  width: calc(100% - 250px);
  border: 1px solid lightgrey;
  border-radius: 5px;
}

.add-feed-form input:focus {
  border: 1px solid #2BB14C;
}

.add-feed-form input:focus + i {
  color: grey;
}

.add-feed-form button {
  margin: 10px;
  width: 70px;
  height: 10px;
  padding: 15px 15px;
}

.feeds-table {
  width: 100%;
}

.feeds-table {
  border: 1px solid lightgrey;
  border-radius: 5px;
}

.feed-index-row {
  height: 75px;
}

.feed-index-icon {
  display: inline-block;
  width: 25px;
  height: 25px;
  padding: 5px;
  padding-right: 10px;
}

.feed-rename {
  display: inline-block;
}

.feed-rename input {
  display: inline-block;
  max-width: 100%;
}

.feed-rename button {
  display: inline-block;
  padding: 3px;
  font-size: 12px;
}

.feeds-table input {
  width: 50%
}

.feed-source-header {
  min-width: 400px;
  max-width: 80%;
}

.feed-status-header {
  width: 20px;
}

.feed-status-text {
  color: #2BB14C;
}

.feed-modify-cell {
  text-align: center;
  min-width: 150px;
}

.feed-modify {
  font-size: 12px;
}

.feed-rename-button {
  color: lightgrey;
}

.feed-rename-button:hover {
  color: grey;
}

.feed-delete-button {
  color: lightpink;
}

.feed-delete-button:hover {
  color: red;
}
