.landing-container {
  background: #F2F2F2;
}

.demo-user {
  background: blue;
}

.landing-content {
  padding: 40px 50px 50px 50px;
  margin: 0 auto;
  width: 850px;
}

.landing-container h1 {
  padding-bottom: 25px;
}

.landing-container p {
  width: 300px;
  padding-bottom: 25px;
  font-size: 20px;
  line-height: 32px;
  color: #9F9F9F;
  font-weight: 200px;
}

.landing-image-container {
  margin: 0 auto;
  width: 840;
  height: 630px;
  background: #4C5250;
  color: white;
  box-sizing: border-box;
  padding: 30px;
}

.landing-content.green-button {

}
