.landing-container {
  width: 850px;
  margin: 0 auto;
}

.landing-container h1 {
  padding-bottom: 25px;
}

.landing-container p {
  width: 300px;
  padding-bottom: 25px;
  font-size: 20px;
  line-height: 32px;
  color: #9F9F9F;
  font-weight: 200px;
}

.landing-image-container {
  margin: 0 auto;
  width: 840;
  height: 630px;
  background: #4C5250;
  color: white
}
