.landing-container {
  background: #F2F2F2;
  width: 100%;
  height: calc(100vh + 100px);
}

.landing-container

.demo-user {
  background: $blue;
}

.demo-user:hover {
  background: $hover-blue;
}

.landing-content {
  padding: 40px 50px 50px 50px;
  margin: 0 auto;
  width: 850px;
}

.landing-container h1 {
  padding-bottom: 15px;
}

.landing-container p {
  width: 300px;
  padding-bottom: 25px;
  font-size: 20px;
  line-height: 32px;
  color: #9F9F9F;
  font-weight: 200px;
}

.landing-image-container {
  margin: 0 auto;
  width: 840;
  height: 630px;
  background: #4C5250;
  color: white;
  box-sizing: border-box;
  padding: 30px;
}

.landing-image-container img {
  max-width: 790px;
  max-height: 600px;
}
