.landing-container {
  background: #F2F2F2;
  width: 100%;
  height: calc(100vh + 100px);
}

.demo-user {
  background: $blue;
}

.demo-user:hover {
  background: $hover-blue;
}

.landing-content {
  padding: 40px 50px 50px 50px;
  margin: 0 auto;
  width: 850px;
  height: 100vh;
}

.landing-container h1 {
  padding-bottom: 15px;
}

.landing-container p {
  width: 300px;
  padding-bottom: 25px;
  font-size: 20px;
  line-height: 32px;
  color: #9F9F9F;
  font-weight: 200px;
}

.landing-welcome {
  margin-bottom: 30px;
}

.landing-image-container {
  max-width: 800px;
  box-shadow:5px 5px 5px #999;
}
