.story-index {
  padding-left: 20px;
  padding-top: 40px;
  margin: 0 auto;
  max-width: 840px;
}

.story-index-item {
  display: flex;
  height: 150px;
  width: 620px;
  border: 1px solid black;
  margin-bottom: 40px;
  overflow: hidden;
}

.story-details {
  margin-left: 20px;
}

// title
.story-index-item h4 {
  font-size: 15px;
  font-weight: bold;
  padding-bottom: 12px;
  margin-right: 140px;
  line-height: 18px;
}

.story-index-item h5 {
  font-size: 12px;
  padding-bottom: 12px;
  color: grey;
}

.story-item-image {
  display: block;
  flex: none;
  height: 85px;
  width: 135px;
  overflow: hidden;
  object-fit: fill;
  border-radius: 3px;
  border: 1px solid lightgrey;
}

.story-index-item p {
  font-size: 14px;
  color: grey;
  font-family: serif;
}
