.story-index {
  padding-top: 40px;
  margin: 0 auto;
  max-width: 840px;
}

.story-index h2 {
  font-size: 24px;
  font-weight: bolder;
  padding-bottom: 40px;
}

.story-index-item:hover {
  border-left: 3px solid $text-dark-grey;
  cursor: pointer;
}

.story-index-details a:hover {
  text-decoration: underline;
  color: black;
}

.story-index-item {
  border-left: 3px solid white;

  padding-left: 10px;
  display: flex;
  height: 150px;
  width: 620px;
  margin-bottom: 40px;
  overflow: hidden;
}

.story-details {
  margin-left: 20px;
}

// title
.story-index-item h4 {
  font-size: 15px;
  font-weight: bold;
  padding-bottom: 12px;
  margin-right: 140px;
  line-height: 18px;
}

.story-index-item h5 {
  font-size: 12px;
  padding-bottom: 12px;
  color: grey;
}

.story-index-item a:hover {
  color: black;
  text-decoration: underline;
}

.story-item-image {
  background-size: cover;
  display: block;
  flex: none;
  height: 85px;
  width: 135px;
  overflow: hidden;
  border-radius: 3px;
  border: 1px solid lightgrey;
}

.story-index-item p {
  font-size: 14px;
  color: grey;
  font-family: serif;
}
