$background-grey: #efefef;
$background-hover-grey: #e4e4e4;
$text-dark-grey: #757575;
$text-light-grey: #9f9f9f;

$modal-screen: rgba(0, 0, 0, 0.6);

//most buttons
$green: #2BB14C;
$darker-green: #249540;

//demo-user button:
$blue: #4384F4;
$hover-blue: #386ECB;
