.pop-out-screen {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background: rgba(0, 0, 0, 0.8);

  opacity: 1;
  transition: opacity .3s ease;
}

.pop-out-screen.appearing {
  opacity: 0.01;
  transition: opacity .3s ease;
}

.pop-out-window {
  background: white;
  overflow: auto;
  padding: 50px;
  margin-left: 20%;
  box-sizing: border-box;
  height: 100%;
}

.pop-out-exit {
  position: absolute;
  width: 30px;
  height: 50px;
  background-image: url("./tab.png");
  background-position: right;
  background-repeat: no-repeat;
  top: 0;
  bottom: 0;
  left: calc(20% - 30px);
  right: 0;
}

.pop-out-exit div {
  position: relative;
  top: 15px;
  bottom: 0;
  left: 10px;
  right: 0;
  color: $text-light-grey;
}

.pop-out-exit div:hover {
  cursor: pointer;
  color: $text-dark-grey;
}

.pop-out-transition.appearing {
  position: absolute;
  left: 50%;
  transition: left .3s ease;
}

.pop-out-transition {
  position: absolute;
  left: 0;
  transition: left .3s ease;
}
