.width-transition {
  transition: width .3s;
}

.navbar-transition {
  transition: margin-right .3s;
}


.navbar-container {
  background: $background-grey;
  position: relative;
  width: 260px;
}

.navbar-container-hidden {
  background: $background-grey;
  position: relative;
  width: 50px;
}

.navbar-closed {
}

.navbar-closed-hidden {
  margin-right: 260px;
}

.navbar-contents {
  flex-shrink: 0;
  transition: display 1s linear;
}

.navbar-contents-hidden {
  margin-right: 260px;
}

.navbar-collections {
  font-size: 14px;
  font-weight: 700;
  padding-top: 25px;
  height: calc(100vh - 80px);
  overflow-y: auto;
  color: #757575;
}

.feeds-header {
  padding-left: 15px;
  padding-right: 20px;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
}

.tabs-container {
  margin-top: 20px;
}

.tabs-container i {
  padding-right: 10px;
}

.latest {
  padding: 0 20px;
}

.latest:hover {
  background: $background-hover-grey;
}

.feeds {
}

.feeds img {
  height: 18px;
  width: 18px;
  padding: 2px;
  margin-right: 10px;
}

.feeds li {
  display: flex;
  width: 100%;
  list-style: none;
}

.feeds li:hover {
  background: $background-hover-grey;
}

.feeds a {
  font-weight: 300;
}

//ADD CONTENT BUTTON
.nav-add-content {
  text-transform: uppercase;
  border-top: 1px solid #9f9f9f;
}

.nav-add-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-add-content span {
  font-size: 20px;
  -webkit-text-stroke: 3px $background-grey;
  padding-right: 10px;
  padding-bottom: 5px;
}

.nav-add-content a {
  height: 300px;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  border: none;
  background: none;
  text-align: center;
  vertical-align: middle;
}
