.pop-out-modal-screen {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background: rgba(0, 0, 0, 0.8);
}

.pop-out-window {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
  background: white;
  overflow: auto;
  padding: 50px;
  margin-left: 30%;
}

.pop-out-exit {
  position: relative;
  width: 50px;
  height: 50px;
  z-index: 2;
  background-image: image-url("tab.png");
  background-position: right;
  background-repeat: no-repeat;
  top: 0;
  bottom: 0;
  left: calc(30% - 50px);
  right: 0;
}

.pop-out-exit div {
  position: relative;
  top: 15px;
  bottom: 0;
  left: 30px;
  right: 0;
  color: $text-light-grey;
}

.pop-out-exit div:hover {
  cursor: pointer;
  color: $text-dark-grey;
}

.pop-out-transition {
  opacity: 0.01;
  transition: opacity .2s ease;
}

.pop-out-transition-appear {
  opacity: 1;
  transition: opacity .3s ease;
}
