body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #333333;
  overflow: hidden;
}

body h1 {
  font-size: 35px;
  margin-bottom: 5px;
  font-weight: 700;
}

body button {
  background-color: white;
  padding: 4px 8px;
  margin: 10px;
  text-transform: uppercase;
  border-radius: 5px;
  align-self: center;
}

body input {
  display: block;
  background-color: white;
  border: 1px solid black;
  border-radius: 1px;
  margin: 5px;
}
