body button {
  background-color: white;
  padding: 4px 8px;
  text-transform: uppercase;
  border-radius: 5px;
  align-self: center;
}

.green-button {
  font-size: 14px;
  background: #2BB14C;
  font-weight: 400;
  color: white;
  padding: 15px 40px;
}

.green-button:hover {
  background: #249540;
}
